.hero-heading-1{
  font-size: 34px;
}
.fa-headphones{
  margin-right: 6px;
}
.main-post-area{
  padding: 18px 12px;
}
.post-page{
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  border-radius: 12px;
  padding: 18px 15px;
  text-align: center;
}
.post-page h2{
  font-size: 30px;
  margin-top: 8px;
  text-align: center;
  margin-bottom: -12px;
}
.post-page-head{
  text-align: center;
}
.post-page-hr{
  display: inline-block;
  width: 120px;
  height: 3px;
  background-color: #0AA8FF;
  border-radius: 6px;
}
.post-page-doha{
  margin-top: 1px;
}

.post-page-doha p{
  line-height: 1.8;
  font-size: 17.7px;
  color: #2C2D2D;
}
hr{
  margin: 21px 20px;
}
.post-page-chupai{
  margin-top: 0;
  
}
.post-page-chupai p{
  line-height: 1.9;
  font-size: 16px;
  color: #2C2D2D;
}
.post-page-stotra p {
  line-height: 1.8;
  font-size: 15.7px;
  color: #2C2D2D;
}
.post-page-mantra{
  margin-top: 10px;
  color: #2C2D2D;
}
.post-page-mantra p{
  font-size: 14px;
  font-style: normal;
  font-weight: bold;
}
.post-page-mantra span{
  font-weight: bold;
}
